* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--WEBSİTE-BG-COLOR);

  min-width: 0px;
}

:root {
  /*BG-COLORS*/
  --WEBSİTE-BG-COLOR: rgb(245, 245, 245);
  --HOVER-BG-COLOR: rgb(193, 193, 193);
  --TRANSPARENT-BG-COLOR: rgba(245, 245, 245, 0.7);
  --TRANSPARENT-HOVER-BG-COLOR: rgba(172, 172, 172, 0.7);
  --TRANSPARENT-ACTİVE-BG-COLOR: rgb(218, 218, 218);
  --HOVER-BLACK-BG-COLOR: rgb(51, 51, 51);
  /*FONT-COLORS*/
  --GRAY-FONT-COLOR: rgb(54, 54, 54);
  --BASE-FONT-COLOR: black;
  /*GENERAL COLORS*/
  --TWİTTER-UWU-COLOR: rgb(0, 183, 255);
  --TWİTTER-UWU-TRANSPARENT-COLOR: rgba(0, 183, 255, 0.3);
  --TWİTTER-UWU-HARD-TRANSPARENT-COLOR: rgba(0, 183, 255, 0.5);
  --BORDER-COLOR: rgb(146, 146, 146);
  --GREEN-TRANSPARENT-BG-COLOR: rgba(16, 154, 16, 0.505);
  --GREEN-TRANSPARENT-HARD-BG-COLOR: rgba(16, 154, 16, 0.807);
  --GREEN-BG-COLOR: rgb(16, 154, 16);
  --RED-TRANSPARENT-BG-COLOR: rgba(171, 43, 88, 0.5);
  --RED-TRANSPARENT-HARD-BG-COLOR: rgba(171, 43, 88, 0.805);
  --RED-BG-COLOR: rgb(171, 43, 88);
  --BASİC-STEELBLUE-BG-COLOR: rgba(70, 130, 180, 0.6);
  --BASİC-STEELBLUE-HARD-BG-COLOR: rgba(70, 131, 180, 0.921);
  --GRAY-TRANSPARENT-BG-COLOR: rgba(128, 128, 128, 0.8);
  /*SHADOW COLORS*/
  --SHADOW-COLOR: rgba(0, 0, 0, 0.5);
  /*--BORDER-COLORS*/
  --BASİC-BORDER-COLOR: rgb(154, 152, 152);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--BASE-FONT-COLOR);
  margin: 0 auto;
  padding-top: 120px;
  max-width: 715px;

  min-width: 0px;
}

main {
  margin-left: 80px;
  max-width: 635px;
  display: grid;
  grid-template-columns: 1fr;
  min-width: 0px;
  align-items: start;
}

@media screen and (min-width: 1021px) {
  main {
    grid-template-columns: 1fr 300px;
    max-width: 935px;
  }
  body {
    max-width: 1015px;
  }
}

@media screen and (min-width: 1181px) {
  main {
    max-width: 1085px;
    grid-template-columns: 1fr 450px;
  }
  body {
    max-width: 1165px;
  }
}

@media screen and (min-width: 1298px) {
  main {
    margin-left: 220px;
  }

  body {
    max-width: 1305px;
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    /*BG-COLORS*/
   --WEBSİTE-BG-COLOR: rgb(0, 0, 0);
    --HOVER-BG-COLOR: rgb(53, 53, 53);
    --TRANSPARENT-BG-COLOR: rgba(17, 17, 17, 0.7);
    --TRANSPARENT-HOVER-BG-COLOR: rgba(46, 46, 46, 0.7);
    --TRANSPARENT-ACTİVE-BG-COLOR: rgb(29, 29, 29);
    --HOVER-BLACK-BG-COLOR: rgb(209, 209, 209);
    /*FONT-COLORS*/
  --GRAY-FONT-COLOR: rgb(54, 54, 54);
    --BASE-FONT-COLOR: rgb(255, 255, 255);
    /*GENERAL COLORS*/
   --TWİTTER-UWU-COLOR: rgb(0, 183, 255);
    --TWİTTER-UWU-TRANSPARENT-COLOR: rgba(0, 183, 255, 0.3);
    --TWİTTER-UWU-HARD-TRANSPARENT-COLOR: rgba(0, 183, 255, 0.5);
    --BORDER-COLOR: rgb(146, 146, 146);
    --GREEN-TRANSPARENT-BG-COLOR: rgba(16, 154, 16, 0.505);
    --GREEN-TRANSPARENT-HARD-BG-COLOR: rgba(16, 154, 16, 0.807);
    --GREEN-BG-COLOR: rgb(16, 154, 16);
    --RED-TRANSPARENT-BG-COLOR: rgba(171, 43, 88, 0.5);
    --RED-TRANSPARENT-HARD-BG-COLOR: rgba(171, 43, 88, 0.805);
    --RED-BG-COLOR: rgb(171, 43, 88);
    --BASİC-STEELBLUE-BG-COLOR: rgba(70, 130, 180, 0.6);
    --BASİC-STEELBLUE-HARD-BG-COLOR: rgba(70, 131, 180, 0.921);
    --GRAY-TRANSPARENT-BG-COLOR: rgba(128, 128, 128, 0.8);
    /*SHADOW COLORS*/
    --SHADOW-COLOR: rgba(255, 255, 255, 0.5);
    /*--BORDER-COLORS*/
   --BASİC-BORDER-COLOR: rgb(154, 152, 152);
  }
}
