.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;

  z-index: 0;
  background-color: var(--WEBSİTE-BG-COLOR);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-right: 1px solid var(--BORDER-COLOR);
  overflow-x: hidden;

  text-overflow: scroll;
  width: 80px;
  margin: 0 auto;
}
.statutory-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.statutory-article {
  display: flex;
  flex-direction: column;
  padding: 8px 10px;
  position: relative;
  align-items: center;
  transition: background-color 0.15s;
  border-radius: 50px;
  user-select: none;
  cursor: pointer;
}

.statutory-prompt {
  position: absolute;
  padding: 3px;
  background-color: var(--BASİC-STEELBLUE-BG-COLOR);
  font-size: 0.6rem;
  color: white;
  bottom: -15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: 0;
  border-radius: 2px;
  transition-property: opacity;
  transition-delay: 0.8s;
  z-index: 5;
}
.flexible-prompt {
  position: absolute;
  padding: 3px;
  background-color: rgba(70, 130, 180, 0.6);
  font-size: 0.6rem;
  color: white;
  top: -15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: 0;
  border-radius: 2px;
  transition-property: opacity;
  transition-delay: 0.8s;
  z-index: 5;
}

.statutory-article:hover .statutory-prompt,
.more-article:hover .statutory-prompt {
  opacity: 1;
}

.statutory-article p {
  display: none;
}
.more-article {
  display: flex;
  flex-direction: row;
  padding: 8px 10px;
  position: relative;
  align-items: center;
  transition: background-color 0.15s;
  border-radius: 50px;
  user-select: none;
  cursor: pointer;
}
.more-article p {
  margin-left: 10px;
  display: none;
}
.more-article:hover {
  background-color: var(--TRANSPARENT-HOVER-BG-COLOR);
}
.more-article:active {
  background-color: var(--TRANSPARENT-ACTİVE-BG-COLOR);
}
.statutory-article:hover {
  background-color: var(--TRANSPARENT-HOVER-BG-COLOR);
}
.statutory-article:focus {
  font-weight: 600;
}

.statutory-article p {
  font-size: 1.2rem;
  margin-left: 10px;
}

.statutory-img {
  width: 28px;
  mix-blend-mode: darken;
}

.x-img {
  width: 30px;
  border-radius: 50%;
}

.statutory-article-x {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 9px;
  border-radius: 50%;
}

.statutory-article-x:hover {
  background-color: var(--TRANSPARENT-HOVER-BG-COLOR);
}

.post-button {
  border: none;
  font-size: 1.2rem;
  padding: 13px 80px;
  background-color: var(--TWİTTER-UWU-COLOR);
  color: white;
  font-weight: 600;
  border-radius: 50px;
  transition: filter 0.15s;
  cursor: pointer;
  margin: 8px 0;
  display: none;
}
.post-button:hover {
  filter: grayscale(0.2);
}

.flexible-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.flexible-article {
  display: flex;
  flex-direction: column;
  padding: 8px 10px;
  position: relative;
  align-items: center;
  justify-content: center;
  transition: background-color 0.15s;
  border-radius: 50px;
  user-select: none;
  cursor: pointer;
  margin-bottom: 15px;
}
.flexible-article:hover {
  background-color: var(--TRANSPARENT-HOVER-BG-COLOR);
}
.flexible-article:hover .flexible-prompt {
  opacity: 1;
}
.flexible-article:active {
  background-color: var(--TRANSPARENT-ACTİVE-BG-COLOR);
}

.flexible-info {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: center;
}

.info-one {
  font-size: 0.9rem;
  font-weight: 600;
  display: none;
}

.info-two {
  font-size: 0.9rem;
  color: var(--GRAY-FONT-COLOR);
  display: none;
}

.flexible-three-dot {
  margin-left: 60px;
  margin-bottom: 5px;
  display: none;
}

.flexible-img {
  width: 28px;
  mix-blend-mode: darken;
}

.post-button-icon {
  border: none;
  border-radius: 50%;
  background-color: var(--TWİTTER-UWU-COLOR);
  padding: 10px 12px;
  cursor: pointer;
  position: relative;
}
.post-button-icon:hover {
  filter: grayscale(0.2);
}
.post-button-icon:hover .statutory-prompt {
  opacity: 1;
}

.post-img {
  width: 28px;
  border-radius: 50%;
  mix-blend-mode: darken;
}

.bookmarks {
  display: none;
}

.verified-orgs {
  display: none;
}

.premium {
  display: none;
}

.communities {
  display: none;
}

@media screen and (min-height: 768px) {
  .bookmarks {
    display: flex;
  }
}

@media screen and (min-height: 717px) {
  .verified-orgs {
    display: flex;
  }
}

@media screen and (min-height: 668px) {
  .premium {
    display: flex;
  }
}

@media screen and (min-height: 617px) {
  .communities {
    display: flex;
  }
}

@media screen and (min-width: 1298px) {
  .statutory-article p {
    display: block;
  }
  .sidebar {
    align-items: center;
    width: 220px;
  }

  .info-one {
    display: block;
  }

  .info-two {
    display: block;
  }

  .flexible-three-dot {
    display: block;
  }

  .more-article p {
    display: block;
  }

  .post-button {
    display: block;
  }

  .post-button-icon {
    display: none;
  }

  .statutory-article {
    flex-direction: row;
  }
  .flexible-article {
    flex-direction: row;
    justify-content: space-between;
  }
  .statutory-prompt {
    display: none;
  }
  .flexible-prompt {
    display: none;
  }
}
