.sidebar-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border: none;
  border-left: 1px solid var(--BORDER-COLOR);

  background-color: var(--WEBSİTE-BG-COLOR);
  gap: 20px;
  padding: 10px;

  display: none;
}

.search-input-con {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;

  top: 0;
  background-color: var(--WEBSİTE-BG-COLOR);
  min-height: 60px;
  width: 95%;
  z-index: 100;
}

.search-input {
  border-radius: 20px;
  border: none;
  background-color: var(--GRAY-TRANSPARENT-BG-COLOR);
  width: 90%;
  height: 40px;
  outline-color: var(--TWİTTER-UWU-COLOR);
  outline-width: 1px;
  outline-offset: -2px;
  background-image: url(../Background-images/search.png);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: left 15px center;
  padding-left: 45px;
  color: white;
  font-size: 0.9rem;
  margin: 0 auto;
}

.search-input::placeholder {
  color: rgb(188, 188, 188);
  font-size: 0.9rem;
}

.discount-con {
  background-color: gray;
  background-image: url(../Background-images/twitter-adverstisment/discoteca-berlin.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  width: 280px;
  border-radius: 20px;
  border: 1px solid var(--BORDER-COLOR);
  background-blend-mode: multiply;
  width: 95%;
}

.discount-text-one {
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  white-space: nowrap;
  margin: 10px;
}

.discount-text-two {
  color: white;
  max-width: 260px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.discount-button {
  margin-left: 10px;
  border: none;
  background-color: white;
  color: black;
  font-size: 0.9rem;
  padding: 10px;
  padding-inline: 20px;
  border-radius: 20px;
  transition: background-color 0.15s;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 10px;
}

.discount-button:hover {
  background-color: rgb(218, 218, 218);
}

.viral-topics {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 95%;
  padding-top: 10px;

  border-radius: 15px;
  border: 1px solid var(--BORDER-COLOR);
  cursor: pointer;
}

.viral-header {
  margin-left: 10px;
  margin-bottom: 10px;
}

.viral-header-text {
  font-size: 1.2rem;
  font-weight: 600;
}

.viral-photo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 90%;
  margin-left: 10px;
  gap: 10px;
}

.viral-figure {
  width: 30%;
}

.viral-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 10px;
}

.viral-photo-text-con {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}

.viral-text-one {
  font-size: 0.9rem;
  font-weight: 600;
}

.viral-text-two {
  font-size: 0.7rem;
  color: var(--GRAY-FONT-COLOR);
}

.real-viral {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  transition: background-color 0.15s;
}
.real-viral:hover {
  background-color: var(--HOVER-BG-COLOR);
}

.viral-text-part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.viral-text-type {
  font-size: 0.7rem;
  color: var(--GRAY-FONT-COLOR);
}

.viral-main-text {
  font-size: 0.9rem;
  font-weight: 600;
}

.viral-three-dot {
  padding: 3px 7px 8px;
  cursor: pointer;
  border-radius: 50%;
  user-select: none;
  transition: background-color 0.15s, color 0.15s;
}
.viral-three-dot:hover {
  background-color: var(--TWİTTER-UWU-TRANSPARENT-COLOR);
  color: var(--TWİTTER-UWU-COLOR);
}
.viral-three-dot:active {
  background-color: var(--TWİTTER-UWU-HARD-TRANSPARENT-COLOR);
}

.viral-text-type-quirk {
  font-size: 0.8rem;
  color: var(--GRAY-FONT-COLOR);
}

.show-more-button {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  transition: background-color 0.15s;
  user-select: none;
}
.show-more-button:hover {
  background-color: var(--TRANSPARENT-HOVER-BG-COLOR);
}

.show-more-text {
  color: var(--TWİTTER-UWU-COLOR);
  font-size: 0.9rem;
}

.who-follow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--BORDER-COLOR);
  border-radius: 15px;

  width: 95%;
  gap: 20px;
  cursor: pointer;
}

.follow-header {
  margin-left: 10px;
  margin-top: 10px;
}

.who-header-text {
  font-size: 1.2rem;
  font-weight: 600;
}

.follow-con {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-left: 10px;
}

.follow-con-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.follow-figure {
  transition: opacity 0.15s;
  position: relative;
}
.follow-figure:hover .follow-img {
  opacity: 0.8;
}

.follow-img {
  width: 40px;
  border-radius: 50%;
}

.follow-info-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
}

.info-one-con {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.info-one-text {
  font-size: 0.9rem;
  font-weight: 600;
}
.info-one-text:hover {
  text-decoration: underline;
}

.follow-info-two {
  font-size: 0.9rem;
  color: var(--GRAY-FONT-COLOR);
  position: relative;
}

.follow-follow-button {
  border: none;
  background-color: var(--BASE-FONT-COLOR);
  color: var(--WEBSİTE-BG-COLOR);
  font-size: 0.9rem;
  padding: 10px 15px;
  border-radius: 20px;
  transition: background-color 0.15s;
  cursor: pointer;
  user-select: none;
}

.follow-follow-button:hover {
  background-color: var(--HOVER-BLACK-BG-COLOR);
}

.copyright-part {
  display: flex;
  width: 95%;
  flex-wrap: wrap;
  gap: 5px;
  color: var(--GRAY-FONT-COLOR);
  font-size: 0.8rem;
  margin-bottom: 50px;
}

.copyright-text {
  cursor: pointer;
}

.copyright-text:hover {
  text-decoration: underline;
}

.copyright-three-dot:hover {
  text-decoration: none;
}

.copy-right-end {
  cursor: text;
}
.copy-right-end:hover {
  text-decoration: none;
}

.copyright-text-con {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.copyright-text-con:hover .copyright-text {
  text-decoration: underline;
}

.follow-figure:hover .who-prompt,
.info-one-con:hover .who-prompt,
.follow-info-two:hover .who-prompt,
.follow-figure:hover .umit-prompt,
.info-one-con:hover .umit-prompt,
.follow-info-two:hover .umit-prompt,
.follow-figure:hover .economist-prompt,
.info-one-con:hover .economist-prompt,
.follow-info-two:hover .economist-prompt,
.follow-figure:hover .metehan-prompt,
.info-one-con:hover .metehan-prompt,
.follow-info-two:hover .metehan-prompt {
  opacity: 1;
  pointer-events: all;
}

.who-prompt {
  position: absolute;
  background-color: var(--WEBSİTE-BG-COLOR);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  box-shadow: 0px 0px 5px 3px var(--SHADOW-COLOR);
  right: -120px;
  top: -260px;
  border-radius: 20px;
  z-index: 250;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s;
}

@media screen and (min-width: 1021px) {
  .sidebar-two {
    display: flex;
  }
}

@media screen and (min-width: 1181px) {
  .sidebar-two {
    width: 450px;
  }
}

.umit-prompt {
  position: absolute;
  background-color: var(--WEBSİTE-BG-COLOR);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  box-shadow: 0px 0px 5px 3px var(--SHADOW-COLOR);
  right: -120px;
  top: -280px;
  border-radius: 20px;
  z-index: 250;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s;
}

.economist-prompt {
  position: absolute;
  background-color: var(--WEBSİTE-BG-COLOR);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  box-shadow: 0px 0px 5px 3px var(--SHADOW-COLOR);
  right: -120px;
  top: -290px;
  border-radius: 20px;
  z-index: 250;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s;
}

.metehan-prompt {
  position: absolute;
  background-color: var(--WEBSİTE-BG-COLOR);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  box-shadow: 0px 0px 5px 3px var(--SHADOW-COLOR);
  right: -120px;
  top: -300px;
  border-radius: 20px;
  z-index: 250;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s;
}
